@import "tailwindcss";

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

button {
  @apply cursor-pointer;
}

* {
  font-family:
    Outfit,
    Outfit Fallback;
}
